.multipleChoice__Wrapper {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5 {
            margin-bottom: 0%;
        }
        .right {
            display: flex;
            gap: 10px;
            align-items: center;
        }
    }
    .body {
        .multipleChoice__AddOption {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px dashed $primary-color;
            padding: 7px;
            border-radius: 5px;
            color: $primary-color;
            cursor: pointer;
            h5 {
                margin-bottom: 0%;
            }
        }
    }
    .options {
        margin-top: 20px;
        .options__Wrapper {
            // border: 1px solid $gray;
            padding: 10px 0px;
            // box-shadow: $shadow-light;
            border-radius: 4px;
            margin-bottom: 10px;
            .options__Header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    .optionCreated__Wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $gray;
        border-radius: 4px;
        padding: 5px 10px;
        margin-bottom: 10px;
        &.optionCreated__CorrectOption {
            border: 2px solid $green;
        }
        .left {
            display: flex;
            align-items: center;
            gap: 7px;
            p {
                margin: 0%;
            }
            h6 {
                margin-bottom: 0%;
            }
        }
        .testcase {
            display: flex;
            flex-direction: column;
            span {
                font-weight: 500;
            }
        }
        .right button{
            color: $red!important;
        }
    }
}