.customButton {
	background-color: $primary-color!important;
	color: $white!important;
	font-size: 14px!important;
	text-transform: capitalize!important;
	padding: 7px 20px!important;
}
.customButton__Danger {
	background-color: $red!important;
	color: $white!important;
	font-size: 14px!important;
	text-transform: capitalize!important;
	padding: 7px 20px!important;
}