.outlineButton {
	border: 3px solid $primary-color!important;
	color: $primary-color!important;
	font-size: 14px!important;
	text-transform: capitalize!important;
	padding: 5px 17px!important;
    background-color: transparent!important;
	font-weight: 600!important;
}