
.student__Wrapper {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    .left {
        display: flex;
        align-items: center;
        gap: 10px;
        h6 {
            margin-bottom: 0%;
        }
        p {
            margin-bottom: 0%;
            font-size: 14px;
            font-style: italic;
            color: $gray;
        }
    }
    .right {
        display: flex;
        align-items: center;
        gap: 10px;
        .pass {
            margin-bottom: 0%;
            color: $green;
        }
        .fail {
            margin-bottom: 0%;
            color: $red;
        }
    }
}