.attemptTest__Wrapper {
    .attemptTest__Body {
        position: fixed;
        top: 0%;
        left: 0%;
        height: 100vh;
        width: 100%;
        .attemptTest__Header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .user {
                width: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                .details {
                    p {
                        margin-bottom: 0%;
                        font-size: 14px;
                    }
                    h6 {
                        margin-bottom: 0%;
                    }
                }
            }
        }
        .attemptTest__Body {
            position: absolute;
            top: 60px;
            left: 0%;
            width: calc(100% - 320px);
            height: calc(100vh - 160px);
            overflow-y: auto;
            @include scroll-bar();
        }
        .attemptTest__Sidebar {
            position: absolute;
            top: 60px;
            right: 0;
            width: 300px;
            height: calc(100vh - 60px);
            .timeLeft__Section {
                .ribbon {
                    text-align: center;
                    background-color: $primary-color-light;
                    padding: 5px 7px;
                    font-weight: 500;
                }
                .timer {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    font-size: 20px;
                    margin: 10px 0;
                    .element {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        p {
                            margin-bottom: 0%;
                        }
                        span {
                            font-size: 14px;
                        }
                    }
                }
            }
            .questions__Section {
                .ribbon {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: $primary-color-light;
                    padding: 5px 7px;
                    font-weight: 500;
                }
                .questions__Grid {
                    height: calc(100vh - 260px);
                    overflow-y: auto;
                    @include scroll-bar();
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: flex-start;
                    margin: 10px 0;
                    gap: 7px;
                    .question {
                        height: 35px;
                        width: 35px;
                        border: 1px solid $gray;
                        border-radius: 4px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 14px;
                        cursor: pointer;
                    }
                }
            }
        }
        .attemptTest__Buttons {
            position: absolute;
            bottom: 45px;
            left: 0%;
            width: calc(100% - 300px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            .left {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
        .attemptTest__Footer {
            position: absolute;
            bottom: 0%;
            left: 0%;
            width: 100%;
            background-color: $primary-color-light;
            height: 40px;
            display: flex;
            align-items: center;
            gap: 14px;
            padding-left: 10px;
            .attemptTest__DisplayElement {
                display: flex;
                align-items: center;
                gap: 10px;
                .question {
                    height: 35px;
                    width: 35px;
                    border: 1px solid $gray;
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    cursor: pointer;
                }
            }
        }
    }
}