.attemptTest__Wrapper {
    .attemptTest__Body {
        position: fixed;
        top: 0%;
        left: 0%;
        height: 100vh;
        width: 100%;
        .attemptTest__MainArea {
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 300px);
            height: 100vh;
            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 10px;
                .timer {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    span {
                        font-weight: 500;
                    }
                    .timertab {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 35px;
                        width: 35px;
                        border-radius: 4px;
                        padding: 7px;
                        border: 1px solid $gray;
                        font-weight: 500;
                        font-size: 14px;
                        margin: 0%;
                    }
                }
            }
            hr {
                margin-top: 0%;
                margin-bottom: 0px;
                border-top: $light-blue solid;
            }
            .body {
                padding: 20px;
                height: calc(100vh - 115px);
                overflow-y: auto;
                @include scroll-bar();
            }
            .footer {
                position: fixed;
                bottom: 0%;
                left: 0;
                height: 60px;
                width: calc(100% - 300px);
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;
                padding-right: 10px;
            }
        }
        .attemptTest__Navigation {
            position: absolute;
            top: 0;
            right: 0;
            width: 300px;
            height: 100vh;
            border-left: 1px solid $light-blue;
            .top {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: 7px 0;
                border-bottom: 1px solid $light-blue;
                .details {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
                h6 {
                    margin-bottom: 0%;
                }
                p {
                    margin-bottom: 0%;
                    font-size: 12px;
                    color: $gray;
                }
            }
            .middle {
                height: calc(100vh - 250px);
                overflow-y: auto;
                @include scroll-bar();
                padding: 20px 20px;
                display: flex;
                align-content: flex-start;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 7px;
                border-bottom: 1px solid $light-blue;
                .question {
                    height: 35px;
                    width: 35px;
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $gray;
                    font-weight: 500;
                    cursor: pointer;
                    &.completed {
                        background-color: $green;
                        color: $white;
                        border: 1px solid $green;
                    }
                    &.marked {
                        background-color: $purple;
                        color: $white;
                        border: 1px solid $purple;
                    }
                    &.markedcompleted {
                        background-color: $cyan;
                        border: 1px solid $cyan;
                        color: $white;
                    }
                }
            }
            .bottom {
                padding: 10px 20px;
                display: flex;
                flex-direction: column;
                gap: 7px;
                .unit {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    span {
                        font-size: 12px;
                    }
                }
                .question {
                    height: 35px;
                    width: 35px;
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $gray;
                    font-weight: 500;
                    &.completed {
                        background-color: $green;
                        color: $white;
                        border: 1px solid $green;
                    }
                    &.marked {
                        background-color: $purple;
                        color: $white;
                        border: 1px solid $purple;
                    }
                    &.markedcompleted {
                        background-color: $cyan;
                        border: 1px solid $cyan;
                        color: $white;
                    }
                }
            }
        }
    }
}