.testDetail__Wrapper {
    .testDetail__Header {
        .left {
            display: flex;
            align-items: center;
            gap: 20px;
            .details p{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
        .actions {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            padding: 15px;
            border-radius: 5px;
            h4 {
                margin-bottom: 0%;
            }
            .testDetails__Actions {
                display: flex;
                align-items: center;
                gap: 10px;
                flex: 1;
                justify-content: flex-end;
                .testDetails__Status {
                    max-width: 200px;
                }
            }
        }
        .body {
            .testDetail__Tab1Students {
                .student__Wrapper {
                    margin: 10px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px;
                    border-radius: 5px;
                    .left {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        h6 {
                            margin-bottom: 0%;
                        }
                        p {
                            margin-bottom: 0%;
                            font-size: 14px;
                            font-style: italic;
                            color: $gray;
                        }
                    }
                    .right {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        .pass {
                            margin-bottom: 0%;
                            color: $green;
                        }
                        .fail {
                            margin-bottom: 0%;
                            color: $red;
                        }
                    }
                }
            }
        }
    }
}