.testDetail__Wrapper {
    .testDetail__Header {
        .left {
            display: flex;
            align-items: center;
            gap: 20px;
            .details p{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
        .infodetails {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 20px 20px;
            .unit {
                h6 {
                    margin-bottom: 0%;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 600;
                }
                p {
                    margin-bottom: 0%;
                }
            }
        }
        .actions {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            padding: 15px;
            border-radius: 5px;
            h4 {
                margin-bottom: 0%;
            }
            .testDetails__Actions {
                display: flex;
                align-items: center;
                gap: 10px;
                flex: 1;
                justify-content: flex-end;
                .testDetails__Status {
                    max-width: 200px;
                }
            }
        }
        .body {
            .testDetail__Tab1Students {
            }
        }
    }
    .testDetails__Message {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 7px;
        border-radius: 4px;
        margin-bottom: 10px;
        &.testDetails__Warning {
            background-color: $yellow;
        }
        &.testDetails__Danger {
            background-color: $red;
            color: $white;
        }
    }
}