@import "./assets/index";

@import "./hocs/index";

@import "./common/index";

@import "./components/index";

@import "./library/index";

@import "./pages/index";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    background-color: $light-background;
}

p {
    margin-bottom: 0%;
}

.activetag {
    font-size: 12px;
    color: $white;
    background-color: $green;
    border-radius: 4px;
    padding: 4px;
}
.warningtag {
    font-size: 12px;
    color: $white;
    background-color: $yellow;
    border-radius: 4px;
    padding: 4px;
}
.inactivetag {
    font-size: 12px;
    color: $white;
    background-color: $red;
    border-radius: 4px;
    padding: 4px;
}

.layoutMessage__Message {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px;
    border-radius: 4px;
    margin-bottom: 10px;
    &.layoutMessage__Warning {
        background-color: $yellow;
    }
    &.layoutMessage__Danger {
        background-color: $red;
        color: $white;
    }
}