@import "./assets/index";

@import "./hocs/index";

@import "./common/index";

@import "./components/index";

@import "./library/index";

@import "./pages/index";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    background-color: $light-background;
}