@import "./assets/fonts";
@import "./assets/variables";
@import "./assets/mixins";

@import "./library/index";

@import "./pages/index";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}