.breadcrumps__Wrapper {
    padding: 0px 20px;
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            h4 {
                font-weight: 400;
            }
            .breadcrumps {
                font-size: 12px;
                color: $gray;
                cursor: pointer;
            }
        }
        .right {
            font-size: 45px;
        }
    }

    main {
        margin: 20px 0;
        margin-bottom: 50px;
    }
}

.header__Wrapper {
    padding: 10px 20px;
    padding-bottom: 0%;
}

// dark settings
.dark .breadcrumps__Wrapper {
    header {
        .left {
            h4 {
                color: $white;
            }
            .breadcrumps {
                font-size: 12px;
                color: $dark-gray;
                cursor: pointer;
            }
        }
    }
}