.logo__Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    cursor: pointer;
    h4 {
        font-weight: 600;
        margin-bottom: 0%;
    }
    svg {
        font-size: 30px;
        color: $primary-color;
    }
}