.imageChoiceQuestion__Wrapper {
    .imageChoiceQuestion__Left {
        img {
            height: 300px;
            width: auto;
            border-radius: 4px;
        }
        p {
            font-size: 14px;
            margin: 10px 0;
        }
    }
    .imageChoiceQuestion__Right {
        // border-left: 1px solid $gray;
        .imageChoiceQuestion__Option {
            padding: 7px;
            border: 1px solid $gray;
            border-radius: 4px;
            margin-bottom: 7px;
            font-size: 14px;
            img {
                height: 200px;
                width: auto;
            }
        }
    }
}