.multipleChoiceQuestion__Wrapper {
    .multipleChoiceQuestion__Left {
        .referenceSection {
            display: flex;
            align-items: flex-start;
            gap: 10px;
            margin-top: 20px;
        }
        img {
            height: 250px;
            width: auto;
            border-radius: 4px;
        }
        p {
            font-size: 14px;
            margin: 10px 0;
        }
    }
    .multipleChoiceQuestion__Right {
        margin-top: 10px;
        .multipleChoiceQuestion__Option {
        }
    }
}