.multipleChoiceQuestion__Wrapper {
    .multipleChoiceQuestion__Left {
        .referenceSection {
            display: flex;
            align-items: flex-start;
            gap: 10px;
            margin-top: 20px;
        }
        img {
            height: 250px;
            width: auto;
            border-radius: 4px;
        }
        p {
            font-size: 14px;
            margin: 10px 0;
        }
    }
    .multipleChoiceQuestion__Right {
        margin-top: 10px;
        .multipleChoiceQuestion__Option {
        }
    }
    .multipleChoiceQuestion__ChoiceType {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        .multipleChoiceQuestion__Choice {
            border: 1px solid $gray;
            width: 200px;
            padding: 10px;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &.multipleChoiceQuestion__Selected {
                border: 1px solid $primary-color;
                box-shadow: $shadow-light;
            }
        }
    }
}