.addQuestionPo__Wrapper {
    background-color: $white;
    width: 700px;
    height: 90vh;
    border-radius: 4px;
    padding: 15px;
    .addQuestionPo__Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5 {
            margin-bottom: 0%;
        }
    }
    .addQuestionPo__Body {
        max-height: calc(90vh - 90px);
        overflow-y: auto;
        overflow-x: hidden;
        @include scroll-bar();
        padding: 0 10px;
    }
}