.editor__Panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 7px;
    margin-bottom: 4px;
    .left {
        width: 300px;
    }
    .right {
        display: flex;
        align-items: center;
        gap: 7px;
    }
}